
.app {
    margin: 0px;
}
.header {
    color: #ffffff;
    background-color: #3AAFAE;
    text-align: center;
    padding: 12px 10px;
}
.header > p {
    color: #E2E6EB;
}
.btn_group{
    text-align: center;
    width: 100%;
}   

.app-calendar {
    background-color: #ffffff;
    margin: 15px;
    margin-top:20px;
    font-size: small;
}
.bottom  {
    margin: 2px 10px;
    text-align: center;
}
.raised-btn {
    width: 100%;
    background-color: #3AAFAE;
    color: #ffffff;
    padding: 8px 0px;
    border-radius: 5px;
}

.raised-btn:hover {
    background-color: #63B7AF;
}
.copyright {
    text-align: center;
    color: #BBDED6;
}