
<div class='app'>
  <div class='header'>
    <h3>Book-My-Time</h3>
    <p>- 人生天地之间，若白驹之过隙，忽然而已 -</p>
  </div>

  <div class='app-calendar'>
    <full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'dayGridMonth,timeGridWeek,timeGridDay',
        center: 'title',
        right: 'prev,next'
      }"
      [titleFormat]="titleFormat"
      [height]="450"
      [plugins]="calendarPlugins"
      [weekends]="true"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      [buttonText]="buttonText"
    ></full-calendar>
  </div>
  <div class="bottom">
    <button class="raised-btn">添加预约</button>
  </div>

</div>
